:root {
  --primary-color: #0065FC;
  --secondary-color: #DEEBFF;
  --main-bg-color: #F2F2F2;
}

* {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  margin: auto;
  width: 100%;
  max-width: 1335px;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
}

/*
db   db d88888b  .d8b.  d8888b. d88888b d8888b.           
88   88 88'     d8' `8b 88  `8D 88'     88  `8D           
88ooo88 88ooooo 88ooo88 88   88 88ooooo 88oobY'           
88~~~88 88~~~~~ 88~~~88 88   88 88~~~~~ 88`8b             
88   88 88.     88   88 88  .8D 88.     88 `88.           
YP   YP Y88888P YP   YP Y8888D' Y88888P 88   YD           
                                                          
                                                          
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

nav ul {
  display: flex;
  width: 420px;
  height: 100%;
}

li
{
  text-align: center;
  list-style-type: none;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li a {
  text-decoration: none;
  color: black;
}

li:hover {
  border-top: 3px solid var(--primary-color);
}

li:hover a {
  color: var(--primary-color);
}

/* 
.88b  d88.  .d8b.  d888888b d8b   db      .d8888. d88888b  .o88b. d888888b d888888b  .d88b.  d8b   db 
88'YbdP`88 d8' `8b   `88'   888o  88      88'  YP 88'     d8P  Y8 `~~88~~'   `88'   .8P  Y8. 888o  88 
88  88  88 88ooo88    88    88V8o 88      `8bo.   88ooooo 8P         88       88    88    88 88V8o 88 
88  88  88 88~~~88    88    88 V8o88        `Y8b. 88~~~~~ 8b         88       88    88    88 88 V8o88 
88  88  88 88   88   .88.   88  V888      db   8D 88.     Y8b  d8    88      .88.   `8b  d8' 88  V888 
YP  YP  YP YP   YP Y888888P VP   V8P      `8888Y' Y88888P  `Y88P'    YP    Y888888P  `Y88P'  VP   V8P 
                                                                                                      
                                                                                                      
 */

#search_section h3 {
  font-weight: 400;
  font-size: 1em;
  margin-top: 5px;
}

#search_bar {
  display: flex;
  margin-top: 20px;
}

#search_bar > * {
  height: 48px;
}

#search_bar_ico {
  width: 50px;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #e5e5e5;
  width: 223px;
  padding-left: 10px;
  font-weight: 700;
}

input:focus, button:focus {
  outline: none;
}

input::placeholder {
  color: black;
}

button:last-of-type {
  display: none;
}

#search_section button {
  height: 50px;
  width: 135px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  border-radius:  0 10px 10px 0;
  font-size: 1.1em;
  font-weight: 700;
}

#filter_bar {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

#filter_bar h2 {
  font-size: 1.1em;
  margin-right: 30px;
}

#tag_bar {
  display: flex;
  flex-wrap: wrap;
}

.filter_tag {
  height: 46px;
  border: 2px solid var(--main-bg-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.filter_tag:hover .filter_ico {
  background-color: var(--primary-color);
  color: white;
  box-shadow:  7px 0px 4px -4px #ffffff;
}

.filter_tag:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: black;
  box-shadow:  3px 7px 11px -4px #c8c8c8;
}

.filter_tag p:nth-last-child(1) {
  font-weight: 700;
  padding: 10px 20px 10px 10px;
}

.filter_ico {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-2px);
  width: 50px;
  height: 50px;
  font-size: 1.3em;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#search_section p:nth-last-child(1) i {
  color: var(--primary-color);
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

/* 
 .o88b.  .d88b.  d8888b. d88888b      d8888b.  .d8b.   d888b  d88888b 
d8P  Y8 .8P  Y8. 88  `8D 88'          88  `8D d8' `8b 88' Y8b 88'     
8P      88    88 88oobY' 88ooooo      88oodD' 88ooo88 88      88ooooo 
8b      88    88 88`8b   88~~~~~      88~~~   88~~~88 88  ooo 88~~~~~ 
Y8b  d8 `8b  d8' 88 `88. 88.          88      88   88 88. ~8~ 88.     
 `Y88P'  `Y88P'  88   YD Y88888P      88      YP   YP  Y888P  Y88888P 
                                                                      
                                                                      
*/

#core_page {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  min-height: 625px;
}

.grey_bg {
  background-color: var(--main-bg-color);
  border-radius: 20px;
}

#core_left {
  /* width: clamp(65%, 875px, 100%); */
  width: 100%;
  max-width: 875px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#core_left > * {
  width: 800px;
}

.bloc_align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 550px;
}

#align_left {
  min-height: 470px;
}

#detailed_vert_card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.margin_bot {
  margin-bottom: 25px;
}

.detailed_vert_card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow:  3px 7px 11px -4px #c8c8c8;
}

.d_v_c_top {
  /* background-color: rgb(166, 188, 218); */
  border-radius: 18px 18px 0 0;
  margin: 6px;
  height: 115px;
}

#core_left img {
  width: 100%;
  max-height: 100%;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
}

.d_v_c_bot {
  /* background-color: rgb(218, 166, 188); */
  border-radius: 0 0 18px 18px;
  margin: 6px;
  flex: 1;
}

.d_v_c_bot p {
  margin-left: 15px;
}

.d_v_c_bot span {
  font-weight: 700;
}

.d_v_c_bot p:nth-child(1) {
  font-weight: 700;
}

.d_v_c_bot p:nth-child(2) {
  font-size: 0.85em;
}

.fa-star {
  color: var(--main-bg-color);
}

.full_star {
  color: var(--primary-color);
}

/* 
 .d8b.  .d8888. d888888b d8888b. d88888b 
d8' `8b 88'  YP   `88'   88  `8D 88'     
88ooo88 `8bo.      88    88   88 88ooooo 
88~~~88   `Y8b.    88    88   88 88~~~~~ 
88   88 db   8D   .88.   88  .8D 88.     
YP   YP `8888Y' Y888888P Y8888D' Y88888P 
                                         
                                         
*/

aside {
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_align {
  width: 345px;
}

.aside_title_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.aside_title_layout i {
  font-size: 1.4em;
}

#detailed_hor_card_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 470px;
}

.detailed_hor_card {
  max-width: 100%;
  width: 345px;
  height: 145px;
  background-color:#fff;
  border-radius: 25px;
  display: flex;
  box-shadow:  3px 7px 11px -4px #c8c8c8;
}

.d_h_c_left {
  border-radius: 18px 0 0 18px;
  margin: 6px;
  width: 127px;
}

aside img {
  width: 100%;
  height: 100%;
  border-radius: 18px 0 0 18px;
  object-fit: cover;
}

.d_h_c_right {
  border-radius: 0 18px 18px 0;
  margin: 6px;
  padding: 10px 15px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d_h_c_right p:nth-child(1) {
  font-weight: 700;
}

.d_h_c_right p:nth-child(2) {
  font-size: 0.85em;
  margin: 8px 0;
}

/* 
 .d8b.   .o88b. d888888b d888888b db    db d888888b d888888b db    db      .d8888. d88888b  .o88b. d888888b d888888b  .d88b.  d8b   db 
d8' `8b d8P  Y8 `~~88~~'   `88'   88    88   `88'   `~~88~~' `8b  d8'      88'  YP 88'     d8P  Y8 `~~88~~'   `88'   .8P  Y8. 888o  88 
88ooo88 8P         88       88    Y8    8P    88       88     `8bd8'       `8bo.   88ooooo 8P         88       88    88    88 88V8o 88 
88~~~88 8b         88       88    `8b  d8'    88       88       88           `Y8b. 88~~~~~ 8b         88       88    88    88 88 V8o88 
88   88 Y8b  d8    88      .88.    `8bd8'    .88.      88       88         db   8D 88.     Y8b  d8    88      .88.   `8b  d8' 88  V888 
YP   YP  `Y88P'    YP    Y888888P    YP    Y888888P    YP       YP         `8888Y' Y88888P  `Y88P'    YP    Y888888P  `Y88P'  VP   V8P 
                                                                                                                                       
                                                                                                                                       
*/

#activity_section {
  margin-top: 50px;
}

#activity_container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-height: 450px;
}

.vert_card_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

.vert_card {
  background-color: #f2f2f2;
  border-radius: 20px;
  position: relative;
  box-shadow:  3px 7px 11px -4px #c8c8c8;
}

#activity_section img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.imgstyle {
  width: 100%;
  max-height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.full_height {
  height: 100%;
}

.low_height {
  height: 165px;
}

.high_height {
  height: 240px;
}

.higher_height {
  height: 210px;
}

.lower_height {
  height: 200px;
}

.vert_card_title  {
  height: 55px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.vert_card_title h3 {
  margin-left: 20px;
  font-size: 1.1em;
}

/* 
d88888b  .d88b.   .d88b.  d888888b d88888b d8888b. 
88'     .8P  Y8. .8P  Y8. `~~88~~' 88'     88  `8D 
88ooo   88    88 88    88    88    88ooooo 88oobY' 
88~~~   88    88 88    88    88    88~~~~~ 88`8b   
88      `8b  d8' `8b  d8'    88    88.     88 `88. 
YP       `Y88P'   `Y88P'     YP    Y88888P 88   YD 
                                                   
                                                   
*/

footer {
  width: 100vw;
  margin-top: 60px;
  height: 215px;
  display: flex;
  justify-content: center;
}

#footer_margin {
  width: 1335px;
  display: flex;
  align-items: center;
}

#footer_margin > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 135px;
}

#footer_margin div:nth-last-child(1)  {
  display: flex;
  justify-content: center;
}

footer h3 {
  margin-bottom: 20px;
}

footer p {
  margin-bottom: 15px;
}

/* 
.88b  d88. d88888b d8888b. d888888b  .d8b.        .d88b.  db    db d88888b d8888b. d888888b d88888b .d8888. 
88'YbdP`88 88'     88  `8D   `88'   d8' `8b      .8P  Y8. 88    88 88'     88  `8D   `88'   88'     88'  YP 
88  88  88 88ooooo 88   88    88    88ooo88      88    88 88    88 88ooooo 88oobY'    88    88ooooo `8bo.   
88  88  88 88~~~~~ 88   88    88    88~~~88      88    88 88    88 88~~~~~ 88`8b      88    88~~~~~   `Y8b. 
88  88  88 88.     88  .8D   .88.   88   88      `8P  d8' 88b  d88 88.     88 `88.   .88.   88.     db   8D 
YP  YP  YP Y88888P Y8888D' Y888888P YP   YP       `Y88'Y8 ~Y8888P' Y88888P 88   YD Y888888P Y88888P `8888Y' 
                                                                                                            
                                                                                                            
 */

@media screen and ( max-width: 1294px) {

  #core_left {
    background-color: white;
  }

}

@media screen and ( max-width: 1024px) {

* {
  font-size: 0.9rem;
}

.filter_tag p:nth-last-child(1) {
  padding: 5px 15px 5px 5px;
}

nav, #search_section, #core_page, #activity_section, footer{
  padding: 0 6%;
}

}

@media screen and ( max-width: 768px) {

  * {
    font-size: 0.75rem;
  }

  nav ul {
    width: 300px;
  }

 input {
    width: 160px;
  }

  #search_section button {
    width: 90px;
  }
 }

 @media screen and ( max-width: 425px) {

  header {
    position: relative;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav div {
    width: 100%;
    padding-left: 8%;
    padding-top: 20px;
  }

  nav ul {
    width: 100%;
    height: initial;
  }

  ul li {
    border-bottom: 3px solid var(--main-bg-color);
    padding-bottom: 10px;
  }

  ul li a {
    font-size: 1.3rem;
  }

  ul li:last-of-type {
    position: absolute;
    top: 20px;
    right: 0;
    height: 47px;
    padding-right: 6%;
    border: none;
  }

  ul li:last-of-type a {
    font-weight: 700;
    color: var(--primary-color);
  }

  li:hover {
    border-top: none;
    border-bottom: 3px solid var(--primary-color);
  }

  #search_section {
    padding: 0 6%;
    font-size: 1.5em;
    margin-top: 40px;
  }

  h1, h2 {
    font-size: 1.8rem;
  }

  #search_section h3 {
    margin-top: 10px;
    font-size: 1.2em;
  }

  #search_section p, #search_section i{
    font-size: 1.25rem;
  } 

  #search_section > p {
    display: flex;
  } 

  #search_section p:nth-last-child(1) i {
    width: 34px;
  }

  #search_bar {
    width: 100%;
  }

  #search_bar_ico {
    width: 15%;
  }

  #search_bar input {
    width: 70%;
    font-size: 1.5rem;
  }

  #search_bar button {
    width: 15%;
    border-radius: 15px;
  }

  button:nth-last-child(2) {
    display: none;
  }

  button:last-of-type {
    display: inline-block;
    margin-left: -10px;
  }

  #filter_bar h2 {
    margin-right: 0;
    font-size: 1.3em;
  }

  #filter_bar {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .filter_tag {
    margin-right: 15px;
    margin-top: 15px;
  }

  #detailed_vert_card_container a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detailed_vert_card {
    width: 100%;
  }

  .bloc_align {
    padding: 0 6%;
  }

  .grey_bg {
    border-radius: 0;
  }

  .right_align {
    width: 100%;
    padding: 35px 6%;
  }

  #align_left {
    margin-top: 20px;
  }

  .aside_title_layout h2{
    font-size: 1.9rem;
  }

  .aside_title_layout i{
    font-size: 2rem;
  }

  .d_h_c_title p, .d_h_c_title {
    font-size: 1.3rem;
  }

  .d_h_c_title p span {
    font-size: 1rem;
  }

  .star_rating i, .d_v_c_bot i{
    font-size: 1rem;
  }

  #core_left {
    margin-top: 35px;
  }

  #core_left h2, #activity_section h2{
    font-size: 1.85rem;
  }

  #activity_container {
    margin: 0;
  }

  #activity_section {
    padding: 0 6%;
  }

  #activity_section img {
    width: 100%;
  }

  .vert_card_container {
    width: 100%;
  }

  .vert_card_container a, .high_height, .low_height, .higher_height, .lower_height {
    height: 190px;
  }

  .vert_card_container a {
    margin-top: 20px;
  }

  .vert_card_title h3 {
    font-size: 1.35rem;
  }

  .d_v_c_bot p {
    font-size: 1.3rem;
  }

  .d_v_c_bot p:nth-child(2), .d_v_c_bot p:nth-child(2) span{
    font-size: 1.2rem;
  }

  #align_left > a:last-child {
    font-size: 1.6rem;
    font-weight: 700;
  }

  footer {
    height: 100%;
  }

  #footer_margin {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6%;
  }

  #footer_margin > div {
    flex-direction: column;
  }

  footer section a{
    font-size: 1.3rem;
    line-height: 15px;
  }

  footer section h3 {
    padding-top: 50px;
  }
  footer section h3 a{
    font-size: 1.5rem;
    line-height: 15px;
  }

}

