:root {
  --primary-color: #0065FC;
  --secondary-color: #DEEBFF;
  --main-bg-color: #F2F2F2;
}

* {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.fa-star {
  font-size: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  margin: auto;
  width: 100%;
  max-width: 1335px;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

/*
db   db d88888b  .d8b.  d8888b. d88888b d8888b.           
88   88 88'     d8' `8b 88  `8D 88'     88  `8D           
88ooo88 88ooooo 88ooo88 88   88 88ooooo 88oobY'           
88~~~88 88~~~~~ 88~~~88 88   88 88~~~~~ 88`8b             
88   88 88.     88   88 88  .8D 88.     88 `88.           
YP   YP Y88888P YP   YP Y8888D' Y88888P 88   YD           
                                                          
                                                          
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

nav ul {
  display: flex;
  width: 420px;
  height: 100%;
}

li
{
  text-align: center;
  list-style-type: none;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li a {
  text-decoration: none;
  color: black;
}

nav ul li:last-child a {
  color: var(--primary-color);
  font-weight: 700;
}

li:hover {
  border-top: 3px solid var(--primary-color);
}

li:hover a {
  color: var(--primary-color);
}

/* 
.88b  d88.  .d8b.  d888888b d8b   db      .d8888. d88888b  .o88b. d888888b d888888b  .d88b.  d8b   db 
88'YbdP`88 d8' `8b   `88'   888o  88      88'  YP 88'     d8P  Y8 `~~88~~'   `88'   .8P  Y8. 888o  88 
88  88  88 88ooo88    88    88V8o 88      `8bo.   88ooooo 8P         88       88    88    88 88V8o 88 
88  88  88 88~~~88    88    88 V8o88        `Y8b. 88~~~~~ 8b         88       88    88    88 88 V8o88 
88  88  88 88   88   .88.   88  V888      db   8D 88.     Y8b  d8    88      .88.   `8b  d8' 88  V888 
YP  YP  YP YP   YP Y888888P VP   V8P      `8888Y' Y88888P  `Y88P'    YP    Y888888P  `Y88P'  VP   V8P 
                                                                                                      
                                                                                                      
 */

#search_section h3 {
  font-weight: 400;
  font-size: 1em;
  margin-top: 5px;
}

#search_bar {
  display: flex;
  margin-top: 20px;
}

#search_bar > * {
  height: 48px;
}

#search_bar_ico {
  width: 50px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #e5e5e5;
  width: 223px;
  padding-left: 10px;
  font-weight: 700;
}

input:focus, button:focus {
  outline: none;
}

input::placeholder {
  color: black;
}

button:last-of-type {
  display: none;
}

#search_section button {
  height: 50px;
  width: 135px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  border-radius:  0 10px 10px 0;
  font-size: 1.1em;
  font-weight: 700;
}

#filter_bar {
  display: flex;
  align-items: baseline;
  margin: 30px 0;
}

#filter_bar h2 {
  font-size: 1.1em;
  margin-right: 30px;
}

#tag_bar {
  display: flex;
  flex-wrap: wrap;
}

.filter_tag {
  height: 46px;
  border: 2px solid var(--main-bg-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.filter_tag:hover .filter_ico {
  background-color: var(--primary-color);
  color: white;
  box-shadow:  7px 0px 4px -4px #ffffff;
}

.filter_tag:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: black;
  box-shadow:  3px 7px 11px -4px #c8c8c8;
}

.filter_tag p:nth-last-child(1) {
  font-weight: 700;
  padding: 10px 20px 10px 10px;
}

.filter_ico {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-2px);
  width: 50px;
  height: 50px;
  font-size: 1.3em;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#search_section p:nth-last-child(1) i {
  color: var(--primary-color);
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

/* 
 .o88b.  .d88b.  d8888b. d88888b      d8888b.  .d8b.   d888b  d88888b 
d8P  Y8 .8P  Y8. 88  `8D 88'          88  `8D d8' `8b 88' Y8b 88'     
8P      88    88 88oobY' 88ooooo      88oodD' 88ooo88 88      88ooooo 
8b      88    88 88`8b   88~~~~~      88~~~   88~~~88 88  ooo 88~~~~~ 
Y8b  d8 `8b  d8' 88 `88. 88.          88      88   88 88. ~8~ 88.     
 `Y88P'  `Y88P'  88   YD Y88888P      88      YP   YP  Y888P  Y88888P 
                                                                      
                                                                      
*/

#core_page {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  min-height: 625px;
}

.grey_bg {
  background-color: var(--main-bg-color);
}

#box-hebergements_container {
  width: 100%;
  max-width: 875px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

#box-hebergements_container > * {
  width: 800px;
}

.box-hebergements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 550px;
}

#box-hebergements_all-content {
  min-height: 470px;
}

#box-hebergements_cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.margin_bot {
  margin-bottom: 25px;
}

.box-hebergements_cards {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow:  3px 7px 11px -4px #c8c8c8;
}

.box-hebergements_cards picture {
  border-radius: 18px 18px 0 0;
  margin: 6px;
  height: 115px;
}

#box-hebergements_container img {
  width: 100%;
  max-height: 100%;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
}

.box-hebergements_cards_legend {
  border-radius: 0 0 18px 18px;
  margin: 0 6px 6px 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box-hebergements_cards_legend > * {
  margin-left: 15px;
}

.box-hebergements_cards_legend span {
  font-weight: 700;
}

.box-hebergements_cards_legend h4 {
  font-weight: 700;
}

.box-hebergements_cards_legend p {
  font-size: 0.85em;
}

.fa-star {
  color: var(--main-bg-color);
}

.full_star {
  color: var(--primary-color);
}

/* 
 .d8b.  .d8888. d888888b d8888b. d88888b 
d8' `8b 88'  YP   `88'   88  `8D 88'     
88ooo88 `8bo.      88    88   88 88ooooo 
88~~~88   `Y8b.    88    88   88 88~~~~~ 
88   88 db   8D   .88.   88  .8D 88.     
YP   YP `8888Y' Y888888P Y8888D' Y88888P 
                                         
                                         
*/

aside {
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.box-populaires {
  width: 345px;
}

.box-populaires_title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.box-populaires_title-box i {
  font-size: 1.4em;
}

#box-populaires_cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 470px;
}

.box-populaires_cards {
  max-width: 100%;
  width: 345px;
  height: 145px;
  background-color:#fff;
  border-radius: 25px;
  display: flex;
  box-shadow:  3px 7px 11px -4px #c8c8c8;
}

.box-populaires picture {
  border-radius: 18px 0 0 18px;
  margin: 6px;
  width: 38%;
}

aside img {
  width: 100%;
  height: 100%;
  border-radius: 18px 0 0 18px;
  object-fit: cover;
}

.box-populaires_cards_legend {
  border-radius: 0 18px 18px 0;
  margin: 6px;
  padding: 10px 15px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-populaires_cards_legend p:nth-child(1) {
  font-weight: 700;
}

.box-populaires_cards_legend p:nth-child(2) {
  font-size: 0.85em;
  margin: 8px 0;
}

/* 
 .d8b.   .o88b. d888888b d888888b db    db d888888b d888888b db    db      .d8888. d88888b  .o88b. d888888b d888888b  .d88b.  d8b   db 
d8' `8b d8P  Y8 `~~88~~'   `88'   88    88   `88'   `~~88~~' `8b  d8'      88'  YP 88'     d8P  Y8 `~~88~~'   `88'   .8P  Y8. 888o  88 
88ooo88 8P         88       88    Y8    8P    88       88     `8bd8'       `8bo.   88ooooo 8P         88       88    88    88 88V8o 88 
88~~~88 8b         88       88    `8b  d8'    88       88       88           `Y8b. 88~~~~~ 8b         88       88    88    88 88 V8o88 
88   88 Y8b  d8    88      .88.    `8bd8'    .88.      88       88         db   8D 88.     Y8b  d8    88      .88.   `8b  d8' 88  V888 
YP   YP  `Y88P'    YP    Y888888P    YP    Y888888P    YP       YP         `8888Y' Y88888P  `Y88P'    YP    Y888888P  `Y88P'  VP   V8P 
                                                                                                                                       
                                                                                                                                       
*/

#activity_section {
  margin-top: 50px;
}

#activity_container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-height: 450px;
}

.activity_cards-container {
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity_cards {
  background-color: #f2f2f2;
  border-radius: 20px;
  position: relative;
  box-shadow:  3px 7px 11px -4px #c8c8c8;
}

.activity_cards img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.imgstyle {
  width: 100%;
  max-height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.full_height {
  height: 100%;
}

.low_height {
  height: 165px;
}

.high_height {
  height: 240px;
}

.higher_height {
  height: 210px;
}

.lower_height {
  height: 200px;
}

.activity_section_picture_title  {
  height: 55px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.activity_section_picture_title h3 {
  margin-left: 20px;
}

/* 
d88888b  .d88b.   .d88b.  d888888b d88888b d8888b. 
88'     .8P  Y8. .8P  Y8. `~~88~~' 88'     88  `8D 
88ooo   88    88 88    88    88    88ooooo 88oobY' 
88~~~   88    88 88    88    88    88~~~~~ 88`8b   
88      `8b  d8' `8b  d8'    88    88.     88 `88. 
YP       `Y88P'   `Y88P'     YP    Y88888P 88   YD 
                                                   
                                                   
*/

footer {
  /* width: 100%; */
  margin-top: 60px;
  height: 215px;
  display: flex;
  justify-content: center;
  border-radius: none;
}

#footer_margin {
  width: 1335px;
  display: flex;
  align-items: center;
}

#footer_margin > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 135px;
}

#footer_margin div:nth-last-child(1)  {
  display: flex;
  justify-content: center;
}

footer h3 {
  margin-bottom: 20px;
}

footer p {
  margin-bottom: 15px;
}

/* 
.88b  d88. d88888b d8888b. d888888b  .d8b.        .d88b.  db    db d88888b d8888b. d888888b d88888b .d8888. 
88'YbdP`88 88'     88  `8D   `88'   d8' `8b      .8P  Y8. 88    88 88'     88  `8D   `88'   88'     88'  YP 
88  88  88 88ooooo 88   88    88    88ooo88      88    88 88    88 88ooooo 88oobY'    88    88ooooo `8bo.   
88  88  88 88~~~~~ 88   88    88    88~~~88      88    88 88    88 88~~~~~ 88`8b      88    88~~~~~   `Y8b. 
88  88  88 88.     88  .8D   .88.   88   88      `8P  d8' 88b  d88 88.     88 `88.   .88.   88.     db   8D 
YP  YP  YP Y88888P Y8888D' Y888888P YP   YP       `Y88'Y8 ~Y8888P' Y88888P 88   YD Y888888P Y88888P `8888Y' 
                                                                                                            
                                                                                                            
 */

@media screen and ( max-width: 1400px) {
  
  header, #search_section, #activity_section, footer {
    padding: 0 2%;
  }
}

@media screen and ( max-width: 1305px) {

  aside {
    justify-content: space-between;
    width: 100%;
    border-radius: 0;
    padding: 0 2%;
  }

  #box-hebergements_container {
    background-color: white;
    max-width: 100%;
    margin-top: 35px;
  }

  #box-hebergements_all-content {
    margin-top: 25px;
  }

  .box-populaires {
    width: 100%;
  }

  #box-hebergements_container > * {
    width: 100%;
    padding: 0 2%;
  }

  #box-populaires_cards-container {
    height: 180px;
  }

  .box-hebergements_cards, .activity_cards-container {
    width: 30vw;
  }

  #activity_container .activity_cards-container:last-child {
    width: 100vw;
    flex-direction: row;
  }
  .lower_height {
    margin-right: 15px;
  }

  .box-hebergements {
    min-height: 250px;
  }
}

@media screen and ( max-width: 1078px) {
  
  #box-populaires_cards-container {
    margin-top: 20px;
    height: 380px;
  }

  .box-populaires_cards  {
    width: 45vw;
  }

}

@media screen and ( max-width: 1024px) {

* {
  font-size: 0.9rem;
}

.filter_tag {
  margin-top: 15px;
}
.filter_tag p:nth-last-child(1) {
  padding: 5px 15px 5px 5px;
}

nav, #search_section, #box-hebergements_container, .box-populaires, #activity_section, footer {
  padding: 0 6%;
}

aside, #box-hebergements_container>* {
  padding: 0;
}

.box-populaires_cards, .box-hebergements_cards  {
  width: 40vw;
}

.activity_cards-container {
  width: 28vw;
}

.full_height {
  height: 50vw;
}
.high_height {
  height: 25vw;
}
.low_height{
  height: 20vw;
}
#footer_margin div:nth-last-child(1) {
  flex: 0.9;
}

}

@media screen and ( max-width: 768px) {

  * {
    font-size: 0.85rem;
  }

  li a {
    font-size: 0.9rem;
  }

  nav ul {
    width: 300px;
  }

 input {
    width: 160px;
  }

  #search_section button {
    width: 90px;
  }

  #box-populaires_cards-container {
    height: 50vw;
  }

  .box-populaires_cards {
    height: 20vw;
  }
  
  .activity_cards-container {
    width: 42vw;
  }

  .full_height {
    height: 470px;
  }

  .lower_height {
    margin-right: 0;
  }

  #activity_container .activity_cards-container:last-child {
    width: 42vw;
    flex-direction: column;
  }
  .full_height {
    height: 60vw;
  }
  .high_height {
    height: 30vw;
  }
  .low_height{
    height: 25vw;
  }
  .higher_height, .lower_height {
    height: 27vw;
  }

  #footer_margin > div {
    flex: 1.2;
  }

  #footer_margin div:nth-last-child(1) {
    flex: 0.8;
  }
  #footer_margin div:nth-last-child(1) section  {
    margin-left: 20%;
  }
 }

@media screen and ( max-width: 625px) {

  nav ul {
    width: 260px;
  }

  .box-hebergements_cards {
    height: 32vw;
  }
  
  #box-populaires_cards-container {
    margin-top: 20px;
    height: 470px;
  }

  .box-populaires_cards {
    width: 100%;
    height: 145px;
  }
  #box-populaires_cards-container a:last-child article {
    height: 145px;
  } 
  .box-hebergements_cards picture {
    height: 20vw;
  }
  footer {
    height: 100%;
  }

  #footer_margin {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6%;
    padding-bottom: 50px;
  }

  #footer_margin > div {
    flex-direction: column;
  }

  footer section a{
    font-size: 1.1rem;
    line-height: 15px;
  }

  footer section h3 {
    padding-top: 50px;
  }
  footer section h3 a{
    font-size: 1.2rem;
    line-height: 15px;
  }

  #footer_margin div:nth-last-child(1) section  {
    margin-left: 0;
  }


 }

@media screen and ( max-width: 500px) {

  nav, #search_section, #box-hebergements_container, .box-populaires, #activity_section, footer {
    padding: 0;
  }

  header {
    position: relative;
    padding: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav div {
    width: 92%;
    padding-left: 6%;
    padding-top: 20px;
  }

  nav ul {
    width: 100%;
    height: initial;
  }

  ul li {
    border-bottom: 3px solid var(--main-bg-color);
    padding-bottom: 10px;
  }

  ul li a {
    font-size: 1.3rem;
  }

  ul li:last-of-type {
    position: absolute;
    top: 20px;
    right: 0;
    height: 47px;
    padding-right: 6%;
    border: none;
  }

  ul li:last-of-type a {
    font-weight: 700;
    color: var(--primary-color);
  }


  li:hover {
    border-top: none;
    border-bottom: 3px solid var(--primary-color);
  }

  #search_section {
    padding: 0 6%;
    font-size: 1.5em;
    margin-top: 40px;
  }

  h1, h2 {
    font-size: 1.8rem;
  }

  #search_section h3 {
    margin-top: 10px;
    font-size: 1em;
  }

  #search_section p, #search_section i{
    font-size: 1.25rem;
  } 

  #search_section > p {
    display: flex;
  } 

  #search_section p:nth-last-child(1) i {
    width: 34px;
  }

  #search_bar {
    width: 100%;
  }

  #search_bar_ico {
    width: 15%;
  }

  #search_bar input {
    width: 70%;
    font-size: 1.5rem;
  }

  #search_bar button {
    width: 50px;
    border-radius: 15px;
  }

  button:nth-last-child(2) {
    display: none;
  }

  button:last-of-type {
    display: inline-block;
    margin-left: -10px;
  }

  #filter_bar h2 {
    margin-right: 0;
    font-size: 1.3em;
  }

  #filter_bar {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .filter_tag {
    margin-right: 15px;
    margin-top: 15px;
  }

  #box-hebergements_cards-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-hebergements_cards {
    width: 100%;
  }

  .box-hebergements_cards {
    height: 200px;
  }

  .box-hebergements_cards picture {
    height: 115px;
  }

  .box-hebergements {
    padding: 0 6%;
  }

  .box-populaires {
    width: 88%;
    padding: 35px 6%;
  }

  #box-hebergements_all-content {
    margin-top: 20px;
  }

  aside {
    padding: 0;
  }

  #box-populaires_cards-container a:last-child article {
    width: 100%;
}

  .box-populaires_title-box h2{
    font-size: 1.9rem;
  }

  .box-populaires_title-box i{
    font-size: 2rem;
  }

  #box-populaires_cards-container {
    margin-top: 20px;
    height: 470px;
  }

  .box-populaires_cards {
    width: 100%;
    height: 145px;
  }
  #box-populaires_cards-container a:last-child article {
    height: 145px;
  } 

  .box-populaires_cards_title h4, .box-populaires_cards_title {
    font-size: 1.3rem;
  }

  .box-populaires_cards_title p span {
    font-size: 1rem;
  }

  .star_rating i, .box-hebergements_cards_legend i {
    font-size: 1rem;
  }

  #box-hebergements_container {
    margin-top: 35px;
  }

  #box-hebergements_container > * {
    padding: 0 6%;
  }

  #box-hebergements_container h2, #activity_section h2{
    font-size: 1.85rem;
  }

  #activity_container {
    margin: 0;
  }

  #activity_section {
    padding: 0 6%;
  }

  #activity_section img {
    width: 100%;
  }

  .activity_cards-container, #activity_container .activity_cards-container:last-child {
    width: 100%;
  }

  .activity_cards-container a, .high_height, .low_height, .higher_height, .lower_height {
    height: 190px;
  }

  .activity_cards-container a {
    margin-top: 20px;
  }

  .activity_cards-container a article {
    height: 190px;
  }

  .activity_section_picture_title h3 {
    font-size: 1.35rem;
  }

  .box-hebergements_cards_legend h4 {
    font-size: 1.3rem;
  }

  .box-hebergements_cards_legend p, .box-hebergements_cards_legend p span{
    font-size: 1.2rem;
  }

  #box-hebergements_all-content > a:last-child {
    font-size: 1.6rem;
    font-weight: 700;
  }

  footer {
    height: 100%;
  }

  #footer_margin {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6%;
    padding-bottom: 50px;
  }

  #footer_margin > div {
    flex-direction: column;
  }

  footer section a{
    font-size: 1.3rem;
    line-height: 15px;
  }

  footer section h3 {
    padding-top: 50px;
  }
  footer section h3 a{
    font-size: 1.5rem;
    line-height: 15px;
  }

}

@media screen and ( max-width: 375px ){
  .filter_tag {
    margin-right: 7px;
  }
}

